<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nyc.bootDemo.demo.student.dao.StudentDao">

    <resultMap type="com.github.nyc.bootDemo.demo.student.domain.Student" id="studentMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="score" column="score" />
    </resultMap>

    <select id="getStudentList" resultMap="studentMap">
        SELECT * FROM student
    </select>

    <select id="getStudentById" resultMap="studentMap">
        SELECT *
        FROM student
        WHERE id = #{id}
    </select>

</mapper>